* {
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 20px;
}

.main-initial-page {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo-inicio {
    margin: auto;
}

.button-start {
    margin: auto;

    padding: 24px 120px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    border: 3px solid #FFEF61;
    box-sizing: border-box;
    border-radius: 12px;

    cursor: pointer;

    background-color: inherit;
}

.button-start:hover {
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    text-shadow: 2px 2px #E5E5E5;
}

.button-start .next-arrows {
    padding-left: 5px;
}

.main-flashcard-page {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.flashcard-page-header {
    width: 100%;

    position: fixed;
    top: 0;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flashcard-page-header img {
    padding: 26px;
}


/* flashcard pergunta */
.flashcard {
    width: 392px;
    height: 575px;  
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;

    position: relative;
}

.flashcard-top-number {
    position: absolute;
    top: 16px;
    right: 17px;

    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}


.flashcard-bottom-arrow {
    position: absolute;
    bottom: 16px;
    right: 17px;
}
.flashcard-bottom-arrow .bottom-arrow {
    width: 40px;
    height: 40px;
    
    cursor: pointer;
}


/* flashcard respondido */
.flashcard-inside-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashcard-inside-header .flashcard-question {
    position: absolute;
    top: 16px;

    width: 60%;
    padding: 0 16px;
    
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    
    text-align: center;
    word-break: break-all;
}

.central-text{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    
    margin: 49px;

    text-align: center;
}

.central-text-question {
    width: 50%;
    
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.flashcard.aprendi-agora {
    border: 5px solid #000;
}

.flashcard.nao-lembrei {
    border: 5px solid #F64848
}

.flashcard.lembrei {
    border: 5px solid #62DB38;
}

.flashcard.zap {
    border: 5px solid #FFEF61;
}


/* flashcards com as opções */

.flashcard-options {
    position: absolute;
    bottom: 11px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    margin: 0 34px;

    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}

.flashcard-options > button {
    width: 65px;
    height: 48px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    margin: 8px;
    
    box-sizing: border-box;
    
    border: 3px solid;
    border-radius: 12px;

    background-color: inherit;

    cursor: pointer;
}

.flashcard-options .aprendi-agora {
    border-color: #000;
}

.flashcard-options .nao-lembrei {
    border-color: #F64848;
}

.flashcard-options .lembrei {
    border-color: #62DB38;
}

.flashcard-options .zap {
    border-color: #FFEF61;
}

.result-page {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 36px;
    line-height: 42px;

    color: inherit;
}

.result img {
    padding: 15px;
}

.result-message {
    margin: 25px;

    font-weight: 300;
    font-size: 22px;
    line-height: 26px;

    color: inherit;
}


.hidden {
    display: none;
}